<h1 class="main-heading"> Post. Apply. Work. </h1>


<% unless user_signed_in? || worker_signed_in? %>
<div class="homepage-links">
  <div class="find-job">
    <p>Find Job</p>
      <%= button_to 'Sign up as employee', new_worker_registration_path, method: :get %>
  </div>
  <div class="post-job">
    <p>Post Job</p>
      <%= button_to 'Sign up as employer', new_user_registration_path, method: :get %>
  </div>
</div>
<% end %>