.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.event-card {
  background-color: #E5E5E5;
  opacity: 0.8;
  width: 60vw;
  height: 30vh;
  margin: 20px;

}

.event-card p{
  opacity: 1;
}