
.main-heading {
  font-weight: 600 ;
  font-size: 100px;
  font-family: 'Montserrat';
  color: rgb(247, 227, 184);
}

.homepage-links {
  display: flex;
  margin-left: 30px;
}

.homepage-links p {
  color:  rgb(247, 227, 184);
  font-size: x-large;
}


